[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Android Maintainers
	label-Verified = -1..+1 group Android Maintainers
	submit = group Android Maintainers
	forgeAuthor = group kernel-admin
	forgeCommitter = group kernel-admin
	push = group kernel-admin
